li{
	list-style: none;
}
.menu{
	float: right;
	background-color: lightseagreen;
	
	width: 30%;
	padding-left:10%;
	display: none;
}
.menu li {
	float: left;
	
	margin-right: 2%;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	line-height: 1.5em;

}
.nav-saide{
	background-color: #b3e5fc;
	width: 20%;
	padding-left: 2%;
	box-sizing:border-box;;
}
.nav-saide li{
	font-size: 1.5em;
	color:#000;

}
@media (min-width: 750px) {
	.menu{
		display: block;
	}
	.nav-saide{
		display: none;
	}
	
}